.pk-type-pill {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.15);
    background-color: var(--white);
    border-radius: 40px;
    display: inline-block;
    padding: 10px;
    font-family: var(--font-mulish-medium);
    font-size: 14px;
    min-width: 76px;
    text-align: center;
    margin: 5px;
}
