:root {
    --font-mulish-regular: 'Mulish Regular', sans-serif;
    --font-mulish-medium: 'Mulish Medium', sans-serif;
    --font-mulish-bold: 'Mulish Bold', sans-serif;
    --font-mulish-semibold: 'Mulish SemiBold', sans-serif;
    --font-lilita-regular: 'LilitaOne Regular', sans-serif;

    --font-size-base: 20px;
    --font-size-sm: 18px;
    --font-size-md: 40px;
    --font-size-lg: 64px;

    --primary: #FFFAFA;
    --dark: #161616;
    --gray: #7E7575;
    --light-gray: #e7e7e7;
    --white: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-mulish-regular);
  background-color: var(--primary);
  font-size: var(--font-size-base);
  color: var(--dark);
  line-height: 1.5;
}


