@font-face {
    font-family: 'Mulish Regular';
    src: url('/assets/fonts/Mulish/Mulish-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish Medium';
    src: url('/assets/fonts/Mulish/Mulish-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish Bold';
    src: url('/assets/fonts/Mulish/Mulish-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Mulish SemiBold';
    src: url('/assets/fonts/Mulish/Mulish-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'LilitaOne Regular';
    src: url('/assets/fonts/LilitaOne/LilitaOne-Regular.ttf') format('truetype');
}

.pk-lilita-lg {
    font-family: var(--font-lilita-regular);
    font-size: var(--font-size-lg);
}

.pk-lilita-md {
    font-family: var(--font-lilita-regular);
    font-size: var(--font-size-md);
    margin: 0 0 50px;
}


