.pk-btn {
    border: none;
    outline: none;
    padding: 18px;
    border-radius: 8px;
    font-family: var(--font-mulish-semibold);
    font-size: 16px;
    cursor: pointer;

    &--blue{
        background-color: #0075BE;
        color: var(--white);
    }
}
