@import 'utils/mixins';

.pk-stats {

    &__row {
        display: flex; 
        justify-content: space-between;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 30px;

        @include for-size(desktop-up) {
            align-items: center;
            flex-direction: row;
        }
        
        label {
            width: 20%;
            max-width: 250px;
            font-family: var(--font-mulish-bold);
            white-space: nowrap;
            margin-bottom: 15px;

            @include for-size(desktop-up) {
                margin-bottom: 0;;
            }
        }

        mat-progress-bar {
            height: 16px;
            border-radius: 20px;

            @include for-size(desktop-up) {
                height: 20px;
            }
        }
    }
}