@import 'utils/mixins';

.pk-error {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    background-color: var(--primary);
    min-height: 300px;
    
    &__img {
        max-height: 350px;
    }

    &__label {
        font-family: var(--font-mulish-semibold);
        padding: 0 30px;

        @include for-size(phone-only) {
            font-size: 14px;
        }
    }
}